<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>

    <title>Document</title>
    <link rel="stylesheet" href="./css/signup.css" />
  </head>
  <body>
    <section class="main--section">
      <header>
        <nav>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </header>

      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>
      <!-- <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        <input type="submit" />
      </form> -->

      <div class="container">
        <div class="form-panel">
          <h1>Signup</h1>
          <form action="/signup" method="POST">
            <div class="form-control">
              <input type="text" name="userName" required />
              <label>User Name</label>
            </div>
            <div class="form-control">
              <input type="email" name="email" required />
              <label>Email</label>
            </div>
            <div class="form-control">
              <input type="password" name="password" required />
              <label>Password</label>
            </div>
            <div class="form-control">
              <input type="password" name="confirmPassword" required />
              <label>Confirm Password</label>
            </div>
            <input class="btn" type="submit" />
            <p class="text">Have an account? <a href="/login">Login</a></p>
          </form>
        </div>
        <div class="picture-panel">
          <div id="tiles"></div>

          <h1 id="title" class="centered">
            Welcome to <span class="fancy">RxReminder</span>
          </h1>

          <i id="icon" class="fa-solid fa-chess centered"></i>
        </div>
      </div>
    </section>
  </body>
  <script src="../js/tiles.js"></script>
</html>
